.customcontainer{
    width:90%;
    margin:auto;
}
.placeholder200{
    min-height:200px;
}
.tool{
    width: 100%;
    text-align: left;
}
canvas{
    cursor: none;
}
.toolwidthonly{
    width: 240px;
}
.widebutton{
    width:200px;
}
.dynamicinputdropdown{
    background-color: white    ;
    /* background-color: #e0f2f1    ; */
    width:240px;       
    
}
.dynamiccontrolscontainer{
    width:240px;
}
.dynamicinputstyle{
    margin:0px !important;
    height: 48px;
}
.dropdownshelf{
    height: 2px;
    width: 240px;
    background-color: #00251a;
}
.nomargin{
    margin: 0px !important;
}
.nomargintop{
    margin-top: 0px !important;
}
.nomarginbot{
    margin-bottom: 0px;
}
.nopadding{
    padding:0px !important;
}
.nopaddingtop{
    padding-top:0px !important;
}

/* colour picker hack */
input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 100px;
	height: 40px;
    margin-left: 5px;
    margin-top: 5px;
   
   
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
.switch{
    height: 48px;
}

.material-icons{
    pointer-events: none !important;
}
.small-modal{
    max-width: 20%;
    left:-50%;
}
.space-left{
    margin-left: 5%;
}
#text-input-modal{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(47, 47, 53, 0.644); /* Black w/ opacity */
}
#text-input-box{
    background-color: white;    
    position: relative;
    top:0px;
    left:0px;
    width: 25%;
}
#cardAddText{
    padding-bottom: 0px;    
}
.full-width{
    width: 100%;
}
.style-border{
    margin-top: 1vw;
    border: solid #004d40  2px;
    border-radius: 2px;    
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    
}
.justify{
    text-align: justify;
    margin:2px;
}
.padding-left{
     padding-left: 10px;
 
}
.question-text-fix{

    padding-left: 20px ;
    padding: 0px 0px 0px 20px;
}
.no-flex{
    display: block;
}
.flex{
    display:flex;
}
.canvas-container{
    /* max-height: 600px; */
    max-height: 200px;
    max-width: 100%;
    overflow: scroll;
    border: solid black 1px;
}
.qpad{
    padding-left: 10px;
    padding-right: 80px;
    padding-top: 10px;
}
.pallette{
    width: 100%;
    height: 40px;
    background-color: black;
    margin:auto;
    margin-bottom: 5px;
    border: solid black 1px;
}
#colour1{
    background-color: red;
}
#colour2{
    background-color: green;
}
#colour3{
    background-color: blue;
}
#colour4{
    background-color: cyan;
}
#colour5{
    background-color: magenta;
}
#colour6{
    background-color: yellow;
}

.question-container{
    max-height: 100px;
    overflow-y: auto;
}
.comingsoon{
    opacity: 0.35;
    pointer-events: none;
}
.historical{
    opacity: 0.35;
}
.collection >a{
    color:red;
}
.collection > a:visited{
    
    color:gray !important;
}
.disabled{
    pointer-events: none;
}
